/* Shared styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
}

/* Banner section css */

.banner-container{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/resources/Banner\ Image.png);    
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 50px;
    
}

.banner-container h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 0 16px 0;
}

.banner-container h1{
    width: 550px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    margin: 0 auto;
}

/* 65% Off section css */

.off-container{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0 auto;
    margin-top: 120px;
}
.off-container h2{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 100px;
}

.off-container span{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}

.btn-primery{
    margin: 0 auto;
    width: 167px;
}

.btn-primery button{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 64px;
}

/* comming soon section css */

.comming-soon-contanier{
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
    align-items: center;
    margin-top: 120px;
}

.comming-soon-left h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.comming-soon-left h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.comming-soon-left p{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.comming-soon-middle{
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.comming-soon-middle img{
    margin-top: 50px ;
    margin-left: 50px ;
}


.comming-soon-right h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.comming-soon-right p{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.comming-soon-right img{
    margin-top: 43px;
}