/* Shared styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
}

/* Banner section css */

.banner-container{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/resources/Banner\ Image.png);    
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 50px;
    
}

.banner-container h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 0 16px 0;
}

.banner-container h1{
    width: 550px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    margin: 0 auto;
}

/* 65% off section CSS */

.off-container{
    width: 802.9px;
    margin: 0 auto;
    margin-top: 120px;
}

.off-container h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.off-container h6{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.off-container h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

/* Midnight section CSS */

.midnight-container{
    background-image:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/resources/Vectorrr.png);
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;

}

.midnight-container h1{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-left: 126px;
    padding-top: 120px;
}

.midnight-container p{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-left: 126px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.midnight-banner-btn button{
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-left: 126px;
}

/* Place and date section CSS */

.place-date-container{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0 auto;
    margin-top: 120px;
}
.place-date-container h2{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 100px;
}

.place-date-container span{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}

.btn-primery{
    margin: 0 auto;
    width: 167px;
}

.btn-primery button{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 64px;
}

/* comming soon section css */

.comming-soon-contanier{
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
    align-items: center;
    margin-top: 120px;
}

.comming-soon-left h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.comming-soon-left h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.comming-soon-left p{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.comming-soon-middle{
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.comming-soon-middle img{
    margin-top: 50px ;
    margin-left: 50px ;
}


.comming-soon-right h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.comming-soon-right p{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.comming-soon-right img{
    margin-top: 43px;
}

/* Holidays sale section CSS */

.holidays-container{
    margin: 0 140px;
    margin-top: 140px;
}

.holidays-contents h4{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holidays-contents h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 28px;
}

.holidays-contents h1 span{
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holidays-contents-des{
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.holidays-contents-des p{
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
}

.holidays-gift-box{
    position: absolute;
    left: 280px;
}

.holidays-discount{
    position: absolute;
    right: 400px;
    top: 4025px;
}

.holidays-shopping{
    margin-left: 1211px;
}

.holidays-bottom-bg{
    width: 1640px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    position: absolute;
    top: 4380px;
}

/* Portfolio section CSS */

.portfolio-container{
    margin: 0 287px;
    margin-top: 335px;
}

.portfolio-container h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-container h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio-container p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.portfolio-img-container-1{
    margin-top: 48px;
}

.portfolio-img-container-1 .img-4{
    margin: 0 24px;
}

.portfolio-img-container-2{
    margin-top: 24px;
}

.portfolio-img-container-2 .img-7{
    margin: 0 24px;
}